# overview
apps = demo, demo2, demo3, demo4

# demo
[demo]
pipe = emitter, echoer
enable = false

[demo_emitter]
interval = 30s

[demo_echoer]
text = hello

# demo2
[demo2]
pipe = fswatcher, commander
enable = false

[demo2_fswatcher]
dir = /Users/cosmtrek/Code/go/src/github.com/cosmtrek/loop/data/
events = create

[demo2_commander]
root = /Users/cosmtrek/Work/witch/
cmd = ./job/dianxiao.sh

# demo3
[demo3]
pipe = monitor, emailer
enable = false

[demo3_monitor]
health = http://localhost:7777/status
interval = 10s
timeout = 2s

[demo3_emailer]
; use mailgun to send emails
mailgun_domain =
mailgun_api_key =
mailgun_public_api_key =
mailgun_sender =
mailgun_receiver =
mailgun_subject =

# demo4
[demo4]
pipe = endpoint, echoer
enable = true

[demo4_endpoint]
port = 9999
route = /sync_saturn_task

[demo4_echoer]
text =